*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  background: #171717;
  color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  user-select: none;
}